---
---

@import "{{ site.theme }}";
.page-header {
    background-color: rgba(21, 153, 87, 0);
    background-image: linear-gradient(120deg, rgba(171, 40, 40, 0.95), #292727);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #aa0000;
    clear: right;
}

.thumb.ave {
	max-width: 50%;
	float: right;
	margin: 10px;
    padding-bottom: 20px;
}

.donotremove {
	overflow: auto;
}




