<!-- EPHS Programming -->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <title>EPHS Programming</title>
    <meta property="og:title" content="ephs.club"/>
    <meta property="og:locale" content="en_US"/>
    <meta name="description" content="EPHS Programming Website"/>
    <meta property="og:description" content="EPHS Programming Website"/>
    <link rel="canonical" href="http://ephs.club/"/>
    <meta property="og:url" content="http://ephs.club/"/>
    <meta property="og:site_name" content="ephs.club"/>
    <!--<script type="application/ld+json">
{"headline":"ephs.github.io","@type":"WebSite","url":"http://ephs.club/","name":"EPHS Programming","description":"EPHS Programming Website","@context":"http://schema.org"}
    </script>
    !-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ab2828">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/css/style.scss">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">EPHS Programming</h1>
    <h2 class="project-tagline"><i class="fa fa-map-marker"></i> Eden Praire High School, Eden Prairie, Minnesota</h2>
</section>

<section class="main-content">
	<h1>Connect with us: <a href="discord">ephs.club/discord</a></h1>
    <h2>Explore Programming at EPHS</h2>
    <p> The EPHS Programming Club is a group of students that get together to be passionate about programming. Whether a
        beginner or more experienced, the club hopes to inspire and intrigue all who are interested in programming.
    </p>
    <h2>Activites</h2>
    <p> You can explore the calender for a list of the club's activites
        <a href="https://calendar.google.com/calendar/embed?src=ephsprogramming%40gmail.com&amp;ctz=America/Chicago">here</a>
        .
    </p>
    <h2>Projects</h2>
    <h3>Core Mockup – <a href="https://github.com/ephs/core">ephs/Core</a></h3>
    <img class="thumb ave" src="../assets/login_copy.png">
    <p>This mockup seeks to redesign Core in a more pleasing and thematic manner. The project includes a working login
        page and a reimagined vision for the core landing page.
    </p>

    <h3>Core Redesign – <a href="https://github.com/ephs/core-ng">ephs/core-ng</a></h3>
    <img class="thumb ave" src="../assets/corev2.png">
    <p>This project is a complete redesign of Core. It is fully functional and transfers data from the original application to the new version.
        This includes a backend API, and a frontend Angular app.
    </p>


    <h3>AP Java Review – <a href="https://github.com/ephs/ap-java-review">ephs/AP-Java-Review</a></h3>
    <img class="thumb ave" src="../assets/presentation.png">
    <p>This review of material in preparation for the AP Computer Science A test includes many unique multiple choice
        problems and several released free response problems. The project also includes an accompanying Eclipse project
        that has the free response worked out and examples of sorts. The review was used in preperation for the 2018 AP
        test. You can view the presentation at <a href="https://ephs.github.io/ap-java-review">ephs.github.io/AP-Java-Review</a>
    </p>


    <footer class="site-footer">
    </footer>
</section>
</body>
</html>
